<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      Student Control
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <h1>Welcome to Student</h1>
  <ion-button  color="secondary" expand="full" [routerLink]="['/addsubject']">Add Subjects</ion-button>
  <ion-button  color="secondary" expand="full" [routerLink]="['/deletesupject']" >Delete Subjects</ion-button>
  <ion-button  color="secondary" expand="full"[routerLink]="['/modify']" >Modify Department</ion-button>

</ion-content>

