.logo {
    width: 70vh !important;
    height: auto !important;
    margin-top:50%;
    align-items: center;
}

ion-content{
    text-align: center;
    align-items: center;
}

h1{
    color:#D1DB2C;
    margin-bottom:10%;
}

ion-button{
    margin: 10% 4%;
}

p{
    margin-top: 25%;
}
