<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button>back</ion-back-button>
    </ion-buttons>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="wrapper">

    <img class="logo" src='../assets/logo.png'>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="text" placeholder="Email" [(ngModel)]="email"></ion-input> 
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input> 
    </ion-item>

    <ion-button  color="secondary" expand="full" (click)="SignIn()">Sign In</ion-button>
    <p expand="full" (click)="gotosignup()">Don't have an account? Register</p>
  </div>

  <p>Copyright 2020</p>
</ion-content>


