<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button>back</ion-back-button>
    </ion-buttons>
    <ion-title>Delete Subject Requets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="wrapper">


    <ion-item>
      <ion-label>
        <h3>Request Title</h3>
        <p>Date</p>
       <div><span>student name</span> - <span>Semester</span></div> 
       <div><span>Subject name</span> - <span>Subject Id</span></div> 
      </ion-label>
      <ion-button size="small" color="success">Approve</ion-button>
      <ion-button size="small" color="warning">Decline</ion-button>
    </ion-item>

    <br>

    <ion-item>
      <ion-label>
        <h3>Request Title</h3>
        <p>Date</p>
       <div><span>student name</span> - <span>Semester</span></div> 
       <div><span>Subject name</span> - <span>Subject Id</span></div> 
      </ion-label>
      <ion-button size="small" color="success">Approve</ion-button>
      <ion-button size="small" color="warning">Decline</ion-button>
    </ion-item>

    <br>

    <ion-item>
      <ion-label>
        <h3>Request Title</h3>
        <p>Date</p>
       <div><span>student name</span> - <span>Semester</span></div> 
       <div><span>Subject name</span> - <span>Subject Id</span></div> 
      </ion-label>
      <ion-button size="small" color="success">Approve</ion-button>
      <ion-button size="small" color="warning">Decline</ion-button>
    </ion-item>

    <br>
    
 
  </div>
</ion-content>