<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button>back</ion-back-button>
    </ion-buttons>
    <ion-title>Faculty Inbox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="wrapper">


    <ion-item [routerLink]="['/message']">
      <ion-label>
        <h3>Messages title</h3>
        <p>Date</p>
      </ion-label>
    </ion-item>

    <br>

    <ion-item [routerLink]="['/message']">
      <ion-label>
        <h3>Messages title</h3>
        <p>Date</p>
      </ion-label>
    </ion-item>

    <br>

    <ion-item [routerLink]="['/message']">
      <ion-label>
        <h3>Messages title</h3>
        <p>Date</p>
      </ion-label>
    </ion-item>

    <br>
    
 
  </div>
</ion-content>