<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button>back</ion-back-button>
    </ion-buttons>
    <ion-title>Message</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="wrapper">

<br>
    <h4>Message</h4>
    <ion-card>
      <ion-card-header>
        <ion-card-title> Title</ion-card-title>
        <p>Date</p>
      </ion-card-header>
  
      <ion-card-content>
        message message message message message message message message
      </ion-card-content>
    </ion-card>

    <h4>Replies</h4>

    <ion-card>
      <ion-card-content>
        <p>Date</p>
      Replay Replay Replay Replay Replay Replay Replay Replay
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-content>
        <p>Date</p>
      Replay Replay Replay Replay Replay Replay Replay Replay
      </ion-card-content>
    </ion-card>

    <br>

<!-- Textarea with custom number of rows and cols -->

<h4>Reply Now</h4>
<ion-card>
    <ion-item>
      <ion-textarea rows="7" cols="20" placeholder="Enter reply here..."></ion-textarea>
    </ion-item>
</ion-card>

<ion-button color="secondary" expand="block">Send</ion-button>


 
  </div>
</ion-content>