.wrapper{
    width: 90%;
    margin: 5% auto;
}

ion-item{
    margin: 4% auto 3%;
    background: #d4c6c6;
    border-radius: 10px;
}


ion-content{
    text-align: center;
    align-items: center;
}

