<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button>back</ion-back-button>
    </ion-buttons>
    <ion-title>Modify Departments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="wrapper">


    <ion-item>
      <ion-label position="stacked">Current Department </ion-label>
      <ion-select placeholder="Select One">
          <ion-select-option value="Department One">Department One</ion-select-option>
        <ion-select-option value="Department Two">Department Two</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">New Department </ion-label>
      <ion-select placeholder="Select One">
          <ion-select-option value="Department One">Department One</ion-select-option>
        <ion-select-option value="Department Two">Department Two</ion-select-option>
      </ion-select>
    </ion-item>

    <br>
    <ion-button  color="secondary" expand="full" >Modify Department</ion-button>
  </div>

  <p>Copyright 2020</p>
</ion-content>