<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      Faculty
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h1>Welcome to Faculty</h1>
  <ion-button  color="secondary" expand="full" (click)="addsubject()">Add Subjects Request</ion-button>
  <ion-button  color="secondary" expand="full" (click)="deletesubject()">Delete Subjects Request</ion-button>
  <ion-button  color="secondary" expand="full" (click)="modify()">Modify Department Request</ion-button>

</ion-content>
