<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button>back</ion-back-button>
    </ion-buttons>
    <ion-title>Send Message</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<div class="wrapper">

  <ion-item>
    <ion-label position="stacked">Message Titel</ion-label>
    <ion-input type="text" placeholder="Message Titel"></ion-input> 
  </ion-item>


    <ion-item>
      <ion-label position="stacked">Message</ion-label>
      <ion-textarea rows="7" cols="20" placeholder="Enter Message here..."></ion-textarea>
    </ion-item>


  <br>
  
<ion-button color="secondary" expand="block">Send</ion-button>
</div>




</ion-content>