.wrapper{
    width: 90%;
    margin: 10% auto;;
}

ion-item{
    margin: 10% auto 3%;
    background: #ca6c6c;
    border-radius: 10px;
}

.logo {
    width: 70vh !important;
    height: auto !important;
    margin-top:10%;
    align-items: center;
}

ion-content{
    text-align: center;
    align-items: center;
}



